<html>
<head></head>

<link rel="stylesheet" href="mycss.css">
<body>
<div id ="head">
		
		Student Pojo
		
	</div>
	<div id ="menu">
	<h4 margin-left: 22px;>CRUD Menu</h4>
	 <ul>
	 <li> <a href="AddStudent.html">Add </a></li>
	 <li> <a href="UpdateStudent.html">Update</a> </li>
	 <li> <a href="DeleteStudent.html">Delete </a></li>
	 </ul>	
	</div>
	<div id="mydisplay">
	<iframe src="RenderTable.html" width="600" height="497" frameborder="0">
	</iframe>
	     
	
	</div>
	<div id ="footer">
	    visit again
	</div>

</body>
</html>